.todo-list {
  padding: 0;
}

.todo-view {
  margin: 24px;
}

.control {
  margin: 24px 24px 0 24px;
}

.controls-row {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.search-bar {
  border: 1px solid black;
  max-width: 50%;
  flex: 1;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.search-input {
  flex: 1;
}

.sort-by-select-input {
  min-width: 150px;
}
